@font-face {
  font-family: "ArturoHeavyTrial";
  src: local("ArturoHeavyTrial"),
    url("../fonts/Arturo-Heavy Trial.ttf") format("truetype");
  font-weight: normal;
}

.page-heading {
  font-family: Arial;
  font-size: 35px;
}
